html,
body {
  height: 100%;
}

.ant-table tbody>tr>td,
.ant-table tfoot>tr>td,
.ant-table tfoot>tr>th,
.ant-table thead>tr>th {
  padding: 5px 16px;
}

.spin-fill {
  height: 100%;

  .ant-spin-container {
    height: 100%;
  }
}

#app {
  height: 100%;

  .editor {
    display: flex;
    height: 100%;

    .left {
      flex-grow: 1;
      background-color: #2B2B2B;
      display: flex;

      .left-cropper {
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: stretch;
        flex: 1;
        position: relative;

        .fixture {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          user-select: none;
          border: 1px dashed rgba(#d9d9d9, 0.6);
          border-radius: 2px;

          img {
            width: 100%;
            height: 100%;
            pointer-events: none;
          }
        }

        .rnd-crop-item {
          opacity: 0.5;
          pointer-events: none;

          &.editing-true {
            opacity: 1;
            pointer-events: initial;

            .name {
              opacity: 0.2;
            }

            .crop-item {
              border-color: #f39c12;
            }

            .mask {
              border: 1px dashed rgba(#e74c3c, 1);
              pointer-events: initial;
              opacity: 1;
            }
          }

          .crop-item {
            position: relative;
            border: 1px dashed rgba(#d9d9d9, 0.2);
            border-radius: 2px;
            overflow: hidden;
            height: 100%;
          }

          &:hover {
            border-color: #e74c3c;
          }

          .name {
            font-size: 12px;
            position: absolute;
            top: 0;
            width: 100%;
            text-align: right;
            background-color: rgba(#d9d9d9, 0.2);
            padding: 2px;
            right: 0;
            color: #fff;
            opacity: 0;
            z-index: 2;
            pointer-events: none;
          }

          .background-ref {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-size: 100% 100%;
            opacity: 0.5;
            z-index: 1;
            pointer-events: none;
          }

          .mask-wrap {
            position: absolute;
            top: -1px;
            left: -1px;
            width: 0;
            height: 0;

            &.is-mask-show-true {
              .mask-img {
                opacity: 0.76;
              }
            }

            &.is-mask-lock-true {
              pointer-events: none;

              .mask {
                pointer-events: none !important;
              }

              &.is-mask-show-true {
                .mask-img {
                  opacity: 0.3;
                }
              }

            }
          }

          .mask {
            position: absolute;
            top: 0;
            left: 0;
            pointer-events: none;
            opacity: 0;
            border-width: 1px;
            border-color: transparent;
            margin-left: -1px;
            margin-top: -1px;

            .mask-img {
              width: 100%;
              height: 100%;
              background-size: 100% 100%;
              opacity: 0;
              pointer-events: none;
            }
          }
        }
      }
    }

    .right-sider-bar {
      flex-shrink: 0;
      width: 390px;
      background-color: #999;
      padding: 20px;
      z-index: 100;

      .table-cropper-item {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        cursor: pointer;
        overflow: hidden;

        .radio {
          margin-right: 5px;
        }

        .name {
          overflow: hidden;

          .text-name {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            max-width: 100%;
          }

          .options {
            display: flex;
            align-items: center;
            font-size: 12px;

            .ant-checkbox-wrapper,
            .ant-radio-wrapper {
              font-size: 12px;
            }
          }
        }

        .btn-with-mask-true:not(:hover) {
          color: #1abc9c;
          border-color: #1abc9c;
        }
      }
    }
  }
}

.preview-cropper-selected {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  opacity: 0;
}

.options-mask-shape {
  width: 60px;

  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.modal-label {
  display: flex;
  align-items: center;
  margin-top: 5px;
  b {
    width: 90px;
  }
  .modal-input {
    flex-grow: 1;
  }
}
